*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{text-decoration: none;}
ul {list-style: none;}

:after, :before {
    padding: 0;
    margin: 0;
}

.clearfix::after{
  content: '';
  clear: both;
  display: table;
  height: 0;
  line-height: 0;
}

.f-left{float: left !important;}
.f-right{float: right !important;}
.f-none{float: none !important;}

.d-block{display: block !important;}
.d-inline{display: inline !important;}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.flex-column {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}

.hide {display: none !important;}
.show{display: block !important;}

.align-start {align-items:flex-start;}
.align-center {align-items: center;}
.align-end {align-items: end;}
.align-stretch {align-items: stretch;}
.align-baseline {align-items: baseline;}

.align-self-start {align-self: flex-start;}
.align-self-center {align-self: center;}
.align-self-end {align-self: end;}
.align-self-stretch {align-self: stretch;}
.align-self-baseline {align-self: baseline;}

.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.justify-aroud{justify-content: space-around;;}
.justify-between{justify-content: space-between;}
.justify-center {justify-content: center;}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container-app {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}


@media (min-width: 820px) {
    .container {
        width: 790px;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


.m-0{margin: 0 !important;}
.m-1{margin: 10px !important;}
.m-2{margin: 20px !important;}
.m-3{margin: 30px !important;}
.m-4{margin: 40px !important;}
.m-5{margin: 50px !important;}
.m-6{margin: 60px !important;}
.m-7{margin: 70px !important;}

.mx-0{margin-left: 0 !important; margin-right: 0 !important;}
.mx-1{margin-left: 10px !important; margin-right: 10px !important;}
.mx-2{margin-left: 20px !important; margin-right: 20px !important;}
.mx-3{margin-left: 30px !important; margin-right: 30px !important;}
.mx-4{margin-left: 40px !important; margin-right: 40px !important;}
.mx-5{margin-left: 50px !important; margin-right: 50px !important;}
.mx-6{margin-left: 60px !important; margin-right: 60px !important;}
.mx-7{margin-left: 70px !important; margin-right: 70px !important;}

.my-0{margin-bottom: 0 !important; margin-top: 0 !important;}
.my-1{margin-bottom: 10px !important; margin-top: 10px !important;}
.my-2{margin-bottom: 20px !important; margin-top: 20px !important;}
.my-3{margin-bottom: 30px !important; margin-top: 30px !important;}
.my-4{margin-bottom: 40px !important; margin-top: 40px !important;}
.my-5{margin-bottom: 50px !important; margin-top: 50px !important;}
.my-6{margin-bottom: 60px !important; margin-top: 60px !important;}
.my-7{margin-bottom: 70px !important; margin-top: 70px !important;}

.ml-0{margin-left: 0 !important;}
.ml-1{margin-left: 10px !important;}
.ml-2{margin-left: 20px !important;}
.ml-3{margin-left: 30px !important;}
.ml-4{margin-left: 40px !important;}
.ml-5{margin-left: 50px !important;}
.ml-6{margin-left: 60px !important;}
.ml-7{margin-left: 70px !important;}

.mr-0{margin-right: 0 !important;}
.mr-1{margin-right: 10px !important;}
.mr-2{margin-right: 20px !important;}
.mr-3{margin-right: 30px !important;}
.mr-4{margin-right: 40px !important;}
.mr-5{margin-right: 50px !important;}
.mr-6{margin-right: 60px !important;}
.mr-7{margin-right: 70px !important;}

.mt-0{margin-top: 0 !important;}
.mt-1{margin-top: 10px !important;}
.mt-2{margin-top: 20px !important;}
.mt-3{margin-top: 30px !important;}
.mt-4{margin-top: 40px !important;}
.mt-5{margin-top: 50px !important;}
.mt-6{margin-top: 60px !important;}
.mt-7{margin-top: 70px !important;}

.mb-0{margin-bottom: 0 !important;}
.mb-1{margin-bottom: 10px !important;}
.mb-2{margin-bottom: 20px !important;}
.mb-3{margin-bottom: 30px !important;}
.mb-4{margin-bottom: 40px !important;}
.mb-5{margin-bottom: 50px !important;}
.mb-6{margin-bottom: 60px !important;}
.mb-7{margin-bottom: 70px !important;}

.p-0{padding: 0 !important;}
.p-1{padding: 10px !important;}
.p-2{padding: 20px !important;}
.p-3{padding: 30px !important;}
.p-4{padding: 40px !important;}
.p-5{padding: 50px !important;}
.p-6{padding: 60px !important;}
.p-7{padding: 70px !important;}

.px-0{padding-left: 0 !important; padding-right: 0 !important;}
.px-1{padding-left: 10px !important; padding-right: 10px !important;}
.px-2{padding-left: 20px !important; padding-right: 20px !important;}
.px-3{padding-left: 30px !important; padding-right: 30px !important;}
.px-4{padding-left: 40px !important; padding-right: 40px !important;}
.px-5{padding-left: 50px !important; padding-right: 50px !important;}
.px-6{padding-left: 60px !important; padding-right: 60px !important;}
.px-7{padding-left: 70px !important; padding-right: 70px !important;}

.py-0{padding-bottom: 0 !important; padding-top: 0 !important;}
.py-1{padding-bottom: 10px !important; padding-top: 10px !important;}
.py-2{padding-bottom: 20px !important; padding-top: 20px !important;}
.py-3{padding-bottom: 30px !important; padding-top: 30px !important;}
.py-4{padding-bottom: 40px !important; padding-top: 40px !important;}
.py-5{padding-bottom: 50px !important; padding-top: 50px !important;}
.py-6{padding-bottom: 60px !important; padding-top: 60px !important;}
.py-7{padding-bottom: 70px !important; padding-top: 70px !important;}

.pl-0{padding-left: 0 !important;}
.pl-1{padding-left: 10px !important;}
.pl-2{padding-left: 20px !important;}
.pl-3{padding-left: 30px !important;}
.pl-4{padding-left: 40px !important;}
.pl-5{padding-left: 50px !important;}
.pl-6{padding-left: 60px !important;}
.pl-7{padding-left: 70px !important;}

.pr-0{padding-right: 0 !important;}
.pr-1{padding-right: 10px !important;}
.pr-2{padding-right: 20px !important;}
.pr-3{padding-right: 30px !important;}
.pr-4{padding-right: 40px !important;}
.pr-5{padding-right: 50px !important;}
.pr-6{padding-right: 60px !important;}
.pr-7{padding-right: 70px !important;}

.pt-0{padding-top: 0 !important;}
.pt-1{padding-top: 10px !important;}
.pt-2{padding-top: 20px !important;}
.pt-3{padding-top: 30px !important;}
.pt-4{padding-top: 40px !important;}
.pt-5{padding-top: 50px !important;}
.pt-6{padding-top: 60px !important;}
.pt-7{padding-top: 70px !important;}

.pb-0{padding-bottom: 0 !important;}
.pb-1{padding-bottom: 10px !important;}
.pb-2{padding-bottom: 20px !important;}
.pb-3{padding-bottom: 30px !important;}
.pb-4{padding-bottom: 40px !important;}
.pb-5{padding-bottom: 50px !important;}
.pb-6{padding-bottom: 60px !important;}
.pb-7{padding-bottom: 70px !important;}

.border-0 {border: none;}
.border-1 {border: 1px solid gray;}
.border-2 {border: 2px solid gray;}
.border-3 {border: 3px solid gray;}
.border-4 {border: 4px solid gray;}
.border-5 {border: 5px solid gray;}
.border-6 {border: 6px solid gray;}
.border-7 {border: 7px solid gray;}
.border-8 {border: 8px solid gray;}
.border-9 {border: 9px solid gray;}
.border-10 {border: 10px solid gray;}

.border-primary{border-color: #0275d8 !important;}
.border-success{border-color: #5cb85c !important;}
.border-info{border-color: #008080 !important;}
.border-warning{border-color: #f7df1e !important;}
.border-danger{border-color: #de3e44 !important;}
.border-secondary{border-color: #292b2c !important}
.border-dark{border-color: #231f20 !important;}
.border-light{border-color: #f5f5dc !important;}
.border-black{border-color: #000 !important;}

.border-radius-none{border-radius: none;}
.border-radius-1{border-radius: 1px !important;}
.border-radius-2{border-radius: 2px !important;}
.border-radius-3{border-radius: 3px !important;}
.border-radius-4{border-radius: 4px !important;}
.border-radius-5{border-radius: 5px !important;}
.border-radius-6{border-radius: 6px !important;}
.border-radius-7{border-radius: 7px !important;}
.border-radius-8{border-radius: 8px !important;}
.border-radius-9{border-radius: 9px !important;}
.border-radius-10{border-radius: 10px !important;}
.border-radius-11{border-radius: 11px !important;}
.border-radius-13{border-radius: 13px !important;}
.border-radius-14{border-radius: 14px !important;}
.border-radius-15{border-radius: 15px !important;}
.border-radius-16{border-radius: 16px !important;}
.border-radius-17{border-radius: 17px !important;}
.border-radius-18{border-radius: 18px !important;}
.border-radius-19{border-radius: 19px !important;}
.border-radius-20{border-radius: 20px !important;}
.border-radius-21{border-radius: 21px !important;}
.border-radius-22{border-radius: 22px !important;}
.border-radius-23{border-radius: 23px !important;}
.border-radius-24{border-radius: 24px !important;}
.border-radius-25{border-radius: 25px !important;}
.border-radius-26{border-radius: 26px !important;}
.border-radius-27{border-radius: 27px !important;}
.border-radius-28{border-radius: 28px !important;}
.border-radius-29{border-radius: 29px !important;}
.border-radius-30{border-radius: 30px !important;}
.border-radius-31{border-radius: 31px !important;}
.border-radius-32{border-radius: 32px !important;}
.border-radius-33{border-radius: 33px !important;}
.border-radius-34{border-radius: 34px !important;}
.border-radius-35{border-radius: 35px !important;}
.border-radius-36{border-radius: 36px !important;}
.border-radius-37{border-radius: 37px !important;}
.border-radius-38{border-radius: 38px !important;}
.border-radius-39{border-radius: 39px !important;}
.border-radius-40{border-radius: 40px !important;}
.border-radius-41{border-radius: 41px !important;}
.border-radius-42{border-radius: 42px !important;}
.border-radius-43{border-radius: 43px !important;}
.border-radius-44{border-radius: 44px !important;}
.border-radius-45{border-radius: 45px !important;}
.border-radius-46{border-radius: 46px !important;}
.border-radius-47{border-radius: 47px !important;}
.border-radius-48{border-radius: 48px !important;}
.border-radius-49{border-radius: 49px !important;}
.border-radius-50{border-radius: 50px !important;}
.border-radius-circle{border-radius: 50% !important;}

.v-middle{vertical-align: middle;}
.v-top{vertical-align: top;}
.v-bottom{vertical-align: bottom;}
.v-baseline{vertical-align: baseline;}
.v-text-top{vertical-align: text-top;}
.v-text-bottom{vertical-align: text-bottom;}
.v-super{vertical-align: super;}
.v-sup{vertical-align: sup;}

.w-space-normal{white-space: normal !important;}
.w-space-pre{white-space: pre !important;}
.w-space-nowrap{white-space: nowrap !important;}
.w-space-pre-line{white-space: pre-line !important;}
.w-space-pre-wrap{white-space: pre-wrap !important;}

.biggest{font-size: 145%;}
.big{font-size: 120%;}
.small{font-size: 80%;}
.smalling{font-size: 55%;}


.bold {font-weight: bold;}
.accent{font-weight: 700;}
.normal{font-weight: 400;}
.light{font-weight: 300;}

.text-center{text-align: center; text-align:}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-justify{text-align: justify;}

.text-primary{color: #0275d8 !important;}
.text-success{color: #5cb85c !important;}
.text-info{color: #008080 !important;}
.text-warning{color: #f7df1e !important;}
.text-danger{color: #de3e44 !important;}
.text-secondary{color: #292b2c !important}
.text-dark{color: #231f20 !important;}
.text-light{color: #f5f5dc !important;}
.text-black{color: #000 !important;}

.error-primary{color: #0275d8 !important; font-weight: bold;}
.error-success{color: #5cb85c !important; font-weight: bold;}
.error-info{color: #008080 !important; font-weight: bold;}
.error-warning{color: #f7df1e !important; font-weight: bold;}
.error-danger{color: #de3e44 !important; font-weight: bold;}
.error-secondary{color: #292b2c !important; font-weight: bold;}
.error-dark{color: #231f20 !important; font-weight: bold;}
.error-light{ color: #f5f5dc !important; font-weight: bold;}

.bg-primary{background-color: #0275d8 !important;}
.bg-success{background-color: #5cb85c !important;}
.bg-info{background-color: #008080 !important;}
.bg-warning{background-color: #f7df1e !important;}
.bg-danger{background-color: #de3e44 !important;}
.bg-secondary{background-color: #292b2c !important}
.bg-dark{background-color: #231f20 !important;}
.bg-light{background-color: #f5f5dc !important;}
.bg-black{background-color: #000 !important;}

.min-w-0{min-width: 0;}
.min-w-25{min-width: 25%;}
.min-w-50{min-width: 50%;}
.min-w-75{min-width: 75%;}
.min-w-90{min-width: 90%;}
.min-w-100{min-width: 100%;}

.w-0{width: 0;}
.w-25{width: 25%;}
.w-50{width: 50%;}
.w-75{width: 75%;}
.w-100{width: 100%;}

.max-w-0{max-width: 0;}
.max-w-25{max-width: 25%;}
.max-w-50{max-width: 50%;}
.max-w-75{max-width: 75%;}
.max-w-90{max-width: 90%;}
.max-w-100{max-width: 100%;}


.fSize-5{font-size: 5px !important;}
.fSize-6{font-size: 6px !important;}
.fSize-7{font-size: 7px !important;}
.fSize-8{font-size: 8px !important;}
.fSize-9{font-size: 9px !important;}
.fSize-10{font-size: 10px !important;}
.fSize-11{font-size: 11px !important;}
.fSize-12{font-size: 12px !important;}
.fSize-13{font-size: 13px !important;}
.fSize-14{font-size: 14px !important;}
.fSize-15{font-size: 15px !important;}
.fSize-15{font-size: 15px !important;}
.fSize-15{font-size: 15px !important;}
.fSize-15{font-size: 15px !important;}
.fSize-16{font-size: 16px !important;}
.fSize-17{font-size: 17px !important;}
.fSize-18{font-size: 18px !important;}
.fSize-19{font-size: 19px !important;}
.fSize-20{font-size: 20px !important;}
.fSize-21{font-size: 21px !important;}
.fSize-22{font-size: 22px !important;}
.fSize-23{font-size: 23px !important;}
.fSize-24{font-size: 24px !important;}
.fSize-25{font-size: 25px !important;}
.fSize-26{font-size: 26px !important;}
.fSize-27{font-size: 27px !important;}
.fSize-28{font-size: 28px !important;}
.fSize-29{font-size: 29px !important;}
.fSize-30{font-size: 30px !important;}
.fSize-31{font-size: 31px !important;}
.fSize-32{font-size: 32px !important;}
.fSize-33{font-size: 33px !important;}
.fSize-34{font-size: 34px !important;}
.fSize-35{font-size: 35px !important;}
.fSize-36{font-size: 36px !important;}
.fSize-37{font-size: 37px !important;}
.fSize-38{font-size: 38px !important;}
.fSize-39{font-size: 39px !important;}
.fSize-40{font-size: 40px !important;}
.fSize-41{font-size: 41px !important;}
.fSize-42{font-size: 42px !important;}
.fSize-43{font-size: 43px !important;}
.fSize-44{font-size: 44px !important;}
.fSize-45{font-size: 45px !important;}
.fSize-46{font-size: 46px !important;}
.fSize-47{font-size: 47px !important;}
.fSize-48{font-size: 48px !important;}
.fSize-49{font-size: 49px !important;}
.fSize-50{font-size: 50px !important;}
.fSize-51{font-size: 51px !important;}
.fSize-52{font-size: 52px !important;}
.fSize-53{font-size: 53px !important;}
.fSize-54{font-size: 54px !important;}
.fSize-55{font-size: 55px !important;}
.fSize-56{font-size: 56px !important;}
.fSize-57{font-size: 57px !important;}
.fSize-58{font-size: 58px !important;}
.fSize-59{font-size: 59px !important;}
.fSize-60{font-size: 60px !important;}

.btn-default {
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 16px;
    max-height: 50px;
    align-self: center;
    white-space: nowrap;
    border-radius: 4px;
    transition: all .25s ease;
    opacity: 0.8;
    outline: none;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    background: none;
}
.btn-default:hover{
  background: lightgray;
  transition: all .25s ease;
  opacity: 1;
}
