/* По Умолчанию */
html, body {
    font-size: 14px;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 140%;
    font-weight: bold;
}

*{
    word-wrap:break-word;
    outline: none;
}

a, img, a:active, a:hover{
    border: none !important;
    outline: none !important;
}


.flex-1{width: 10%;}
.flex-2{width: 20%;}
.flex-3{width: 30%;}
.flex-4{width: 40%;}
.flex-5{width: 50%;}
.flex-6{width: 60%;}
.flex-7{width: 70%;}
.flex-8{width: 80%;}
.flex-9{width: 90%;}
.flex-10{width: 100%;}

/* По Умолчанию [END] */


/* header [START] */
.main-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    user-select: none !important;
    position: relative;
}

#week {
    background-color: #231f20;
    color: #de3e44;
    padding: 4px 6px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#choice-group {
    position: relative;
    top: 2px;
}

.dropdown.group {
    position: absolute;
    top: 40px;
    left: 115px;
    z-index: 101;
    display: none;
    background-color: #231f20;
}

.dropdown.group li {
    padding: 5px;
}


.dropdown.group li:not(:last-child) {
    border-bottom: 2px solid #f7df1e;
}


/* header [END]*/


/* SECTION Shedule [START]*/

.shedule {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.shedule .shedule__sub-menu {
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    user-select: none;
}
.shedule__day .day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    user-select: none;
}

.shedule__content, .shedule__content .content {
    display: none;
}

.shedule__content .content > div {
    padding: 5px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* SECTION Shedule [END]*/



/* Стандартная Светлая Тема  [START] */

body.theme-light {
    color: #231f20;
    background: #21a8f4 url(../img/bg-light.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body.theme-light .main-header {
    background:linear-gradient(5deg, rgb(73, 221, 216) 0%, rgb(51, 105, 231) 100%);
    color: #fff; 
}


body.theme-light .shedule__day {
    background-color: rgba(255, 255, 255, 0.6);
}

body.theme-light .shedule .shedule__sub-menu {
    background-color: #dbc8c8;
}

body.theme-light .shedule {
    background-color: #a6c4cc;
}

body.theme-light .shedule__content .content>div:not(:first-child) {
    border-top: 5px solid #ededed;
}

body.theme-light .shedule__day .day.active {
    background:linear-gradient(5deg, rgb(73, 221, 216) 0%, rgb(51, 105, 231) 100%);
}

/* Стандартная Светлая Тема  [END] */


/* Эффекты Выделения текста  [START] */
body.effect-on  .highlight {
    background-color: #231f20;
    padding: 2px 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.highlight.primary{color: #0275d8 !important;}
.highlight.success{color: #5cb85c !important;}
.highlight.info{color: #008080 !important;}
.highlight.warning{color: #f7df1e !important;}
.highlight.danger{color: #de3e44 !important;}
.highlight.secondary{color: #292b2c !important}
.highlight.dark{color: #231f20 !important;}
.highlight.light{color: #f5f5dc !important;}
.highlight.black{color: #000 !important;}

body.effect-off .highlight {
    color: inherit !important;
    padding: 0;
    background-color: none;
    font-weight: bold;
}

/* Эффекты Выделения текста  [END] */
