html, body {
    font-size: 14px;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 144%;
    font-weight: bold;
}

*{
    word-wrap:break-word
}

/* 
.biggest{font-size: 145%;}
.big{font-size: 120%;}
.small{font-size: 80%;}
.smalling{font-size: 55%;}
*/

/* header [START]*/

.main-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
}

#setting {
    cursor: pointer;
}

/* header [END]*/


/* SECTION Shedule [START]*/

.shedule {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.shedule .shedule__sub-menu {
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
}
.shedule__day .day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

.shedule__content .content {
    display: none;
}
.shedule__content .content > div {
    padding: 5px 0;
}



.flex-1{width: 10%;}
.flex-2{width: 20%;}
.flex-3{width: 30%;}
.flex-4{width: 40%;}
.flex-5{width: 50%;}
.flex-6{width: 60%;}
.flex-7{width: 70%;}
.flex-8{width: 80%;}
.flex-9{width: 90%;}
.flex-10{width: 100%;}


/* SECTION Shedule [END]*/


/* Стандартная Светлая Тема */

.flex-1{
    flex: 1;
}

body[class='theme-light'] {
    color: #231f20;
    background: rgb(33, 168, 244) url(../img/bg-light.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body[class='theme-light'] .main-header {
    background-color: #a4b7d8;
}


body[class='theme-light'] .shedule__day {
    background-color: rgba(255, 255, 255, 0.6);
}

body[class='theme-light'] .shedule .shedule__sub-menu {
    background-color: #e2dbdb;
}

body[class='theme-light'] .shedule {
    background-color: #c9c4c4;
}

.shedule__content .content > div:not(:first-child) {
    border-top: 5px solid #ededed;
}


body[class='theme-light'] .shedule__day .day.active {
    background-color: rgb(33, 168, 244);
}


.light-shadow-yellow {
    text-shadow: 1px 0 8px #f7df1e, -1px 0 8px #f7df1e;
}

.light-shadow-red {
    text-shadow: 1px 0 8px #de3e44, -1px 0 8px #de3e44;
}

.light-shadow-blue {
    text-shadow: 1px 0 8px #0275d8, -1px 0 8px #0275d8;
}

